<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="C:\wamp64\www\Profile\components\footer\footer.css">
    <link rel="stylesheet" href="C:\wamp64\www\Profile\assets\fonts\icon_icomoon\style.css">
    
</head>
<body>
    
    <footer>

        <div class="contact">
           <div>
               <i class="icon-mail"></i>
               <a href="mailto:norhealth@gmail.com">norhealth@gmail.com</a>
           </div>
           <div>
                <i class="icon-location-pin"></i>
                <address>170 , Main street Ngaoundere,Cameroon</address>
            </div>
           <div>
                <i class="icon-phone"></i>
                <a href="tel:(+237)676517669">(+237) 676517669</a>
           </div>
        </div>

        <hr>

        <div class="links">
            <div class="services">
                <h3>services</h3>
                <a href="#">maternite</a>
                <a href="#">cardiologie</a>
                <a href="#">orthodontie</a>
                <a href="#">ambulance</a>
            </div>
            <div class="about">
                <h3>about</h3>
                <a href="#">maternite</a>
                <a href="#">cardiologie</a>
                <a href="#">orthodontie</a>
                <a href="#">ambulance</a>
            </div>
            <div class="usefull_links">
                <h3>links</h3>
                <a href="#">maternite</a>
                <a href="#">cardiologie</a>
                <a href="#">orthodontie</a>
                <a href="#">ambulance</a>
            </div>
            <div class="newsletter">
                <h3>suscribe</h3>
                <input type="text" placeholder="Entrez Entre Email">
                <button type="submit"><i class="icon-chevron-right"></i></button>
                <p>get health information in your mail box.</p>
            </div>
        </div>

        <div class="social">
            <div class="icons">
                <div><i class="icon-facebook2"></i></div>
                <div><i class="icon-instagram2"></i></div>
                <div><i class="icon-linkedin22"></i></div>
                <div><i class="icon-twitter2"></i></div>
            </div>
            <div class="copyright">
                <p>2022 Bonita inc . All rights reserved.</p>
            </div>
        </div>

    </footer>

</body>
</html>