<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\wamp64\www\Profile\components\menu\menu.css">
    <title>Document</title>
</head>
<body>

    <header>
        <nav>
            <ul class="menu_box">

                <li class="logo_box">LOGO</li>

                <li class="hiddedMenu"> <a href="#"  class="menu">Accueil</a>
                    <!-- <ul class="sous_menu_box">
                        <li class="sous_menu">sous_menu 1</li>
                        <li class="sous_menu">sous_menu 2</li>
                        <li class="sous_menu">sous_menu 3</li>
                    </ul> -->
                </li>

                <li class="hiddedMenu"> <a href="#"  class="menu subm">A propos</a>
                    <ul class="sous_menu_box">
                        <li class="sous_menu">sous_menu 1</li>
                        <li class="sous_menu">sous_menu 2</li>
                        <li class="sous_menu">sous_menu 3</li>
                    </ul>
                </li>

                <li class="hiddedMenu"> <a href="#" class="menu subm">Etudiants</a>
                    <ul class="sous_menu_box">
                        <li class="sous_menu">sous_menu1</li>
                        <li class="sous_menu">sous_menu2</li>
                        <li class="sous_menu">sous_menu3</li>
                    </ul>
                </li>

                <li class="btn-top">
                    <button class="btn">
                        <p><a href="http:#">Se connecter</a></p>
                    </button>
                </li>

            </ul>
        </nav>
    </header>

    <main>
        <p>message</p>
    </main>

    <script src="C:\wamp64\www\Profile\components\menu\menu.js"></script>

</body>
</html>